.todo-footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.btn{
    background-color: rgb(190, 39, 39);
    color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
}